.title{
  font-size: 50px;
text-align: center;
}
.head{
  font-size: 40px;
}
.div1{
  float: left;
  width: 300px;

}

.whole{
  font-family: sans-serif;
  background-color: lightgray;

}
img{
  width: 95%;
  height:300px;
}
.column1{
  background-color: #ff6959;
  border: 2px solid #424242;
  margin: 4px;
  padding: 5px;
}

.column2{
  background-color: #59b7ff;
  border: 2px solid #424242;
  margin: 4px;
  padding: 5px;
}
.column3{
  background-color: #64af64;
  border: 2px solid #424242;
  margin: 4px;
  padding: 5px;
}
